extends layout
block content
  button(onclick="window.location.href = 'http://127.0.0.1:3000/users/viewMyProjects';") Projekti koje vodim
  br
  br
  button(onclick="window.location.href = 'http://127.0.0.1:3000/users/viewProjects';") Projekti na kojima radim