extends layout
block content
  form(action='/users/loginUserHandle', method='post')
    | E-mail :
    br
    input(type='text', name='email')
    br
    |   Password :
    br
    input(type='text', name='password')
    br
    input(type='submit', value='Login')
    br
  br
